* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}
body, head {
    min-height: 100wh;
    background-image: linear-gradient(-45deg, #dbcec2 30%, #ceaa8a 50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    text-align: center;
    font-size: 45px;
    line-height: 3;
}
.botonera {
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
}
h2 {
    text-align: center;
    line-height: 3;
}
.tiposDeTrabajo {
    color: black;
    display: flex;
}
h4 {
text-align: center;
font-size: 20px;
line-height: 5;
}
.misRedes {
    display: flex;
    justify-content: space-evenly;
    line-height: 5;
}
.wpIcon {
    position: fixed;
    bottom: 0px;
    right: 1px;
}
.fotoLogo {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  right: 20px;
}
.op {
    text-align: start;
    font-size: 30px;
}
.redesFooter {
    display: flex;
}
/* Contacto */
.boton {
    color: black;
    background-color: #D3E4CD;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Clientes */
li {
    display: flex;
    font-size: 20px;
}
.imgCarnet {
    width: 150px;
    height: 150px;
}
/* Sobre mi */
.miFoto {
    width: 300px;
    height: 300px;
}
.sobreMiObjetos {
    display: flex;
}
/* Portafolios */
.port {
    text-align: center;
}
